.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}
nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.nav-items > ul > li:hover {
  cursor: pointer;
  background-color: rgb(202, 201, 195);
  border-radius: 8px;
}

/* Body Starts from here */
.restaurant-container {
  margin: 3px;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}

.restaurant-card {
  margin: 5px;
  padding: 5px;
  width: 250px;
  background-color: beige;
  border-radius: 8px;
  display: inline-block;
  max-height: 100%;
}

.restaurant-card:hover {
  border: 1px solid #ddd;
  cursor: pointer;
}

.restaurant-logo {
  width: 100%;
}
